@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #fbecf4;

  a {
    color: black;
  }

  header {
    // display: flex;
    // justify-content: space-between;
    padding: 1em;

    .logo {
      color: #ee6a7a;
      font-weight: 700;
      font-size: 20px;
    }

    ul {
      display: flex;
      justify-content: space-around;
      a {
        display: block;
        // padding-right: 4em;
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}

.social-header {
  display: none;
  img {
    width: 55px;
    height: 55px;
  }
}

.featured-links {
  img {
    width: 24px;
  }
}

// .one {
//   width: 125px;
// }

// .two {
//   width: 68px;
// }

// .three {
//   width: 68px;
// }

.hero {
  text-align: center;
  background: #faf3f7;
  padding-top: 80px;
  padding-bottom: 80px;
  // padding: 2em;
  margin: 0 auto;
  h1 {
    color: #53424c;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .scroll {
    width: 16px;
    margin-top: 50px;
  }
}

.hero-design {
  display: none;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 260px;
  p {
    margin: 0;
    margin-left: 10px;
    text-align: left;
    color: #53424c;
    font-weight: 700;
  }
  span {
    // margin-left: 20px;
    font-size: 26px;
  }
}

.subtitle {
  color: #ee6a7a;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  margin-top: 50px;
}

.featured {
  margin: 0 auto;
  padding: 1em;

  .right {
    width: 270px;
    margin: 0 auto;
    display: block;
    border: 1px solid #00000099;
    border-radius: 1em;
  }
}

.featured-title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.featured-desc {
  font-size: 16px;
  font-weight: 500;
  color: #000000b2;
  margin-bottom: 50px;
}

.featured-img {
  position: relative;
  margin-top: 60px;
  .decoration {
    position: absolute;
    top: -10px;
    z-index: -1;
  }
}

.feacctured-links {
  text-decoration: underline;
}

.skills {
  background: #ee6a7a;

  h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
  }
}

.skills-container ul li {
  background: white;
  padding: 2em;
  margin: 2em;
  border-radius: 1em;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .icon-container {
    &.one {
      width: 125px;
    }

    &.two {
      width: 68px;
    }

    &.three {
      width: 68px;
    }
  }
}

.skills-desc {
  margin: 0;
}

.skills-title {
  font-size: 20px;
  font-weight: 500;
}

.portfolio {
  padding: 1em;
}

.portfolio-img {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  margin-top: 30px;
}

.cta {
  text-align: center;
  margin: 50px auto;
  a {
    color: #ee6a7a;
    font-weight: 700;
  }
}

footer {
  background: #fbecf4;
  display: none;
}

@media only screen and (min-width: 800px) {
  .nav-container {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li a {
        margin: 0;
        margin-right: 50px;
      }
    }
  }

  .social-header {
    display: none;
    ul {
      display: flex;
      justify-content: space-between;
      width: 12em;
      float: right;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }

  .featured {
    padding: 2em;
    display: flex;
    .right {
      width: 200px;
    }
  }

  .left {
    width: 500px;
  }
  .decoration {
    left: 20px;
  }

  .portfolio {
    padding: 2em;
  }

  footer {
    display: block;
    height: 200px;
    position: relative;
  }

  .footer-img {
    display: none;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      background: #faf3f7;
      padding: 6em 8em 6em 10em;
      text-align: left;

      h1 {
        font-size: 50px;
        font-weight: 700;
      }
    }
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    header {
      background: #fbecf4;
    }
  }
  header {
    padding: 2em 2em 2em 10em !important;
  }

  .social-header {
    padding: 2em 10em 2em 0;
    display: block;
  }

  section {
    padding: 10em;
  }

  .meet {
    margin: unset;
    font-size: 18px;
    width: 500px;
    margin-bottom: 4em;
    margin-top: 2em;

    span {
      font-size: 20px;
    }
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 35%;
    width: 100%;
  }

  .scroll {
    width: 24px !important;
  }

  .featured {
    display: grid;
    grid-template-columns: 40% auto;
    padding: 10em;

    .left {
      width: unset;
      display: grid;
      place-content: center;
    }

    .right {
      width: unset;
    }
  }

  .featured-img {
    padding-top: 6em;
  }
  .decoration {
    padding-top: 6em;
    top: 0;
    right: 50%;
    left: unset;
    width: 50%;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    margin-bottom: -80px;
    // padding-left: 6em;
    // padding-right: 6em;
  }

  .skills-container ul li {
    margin: unset;
  }

  .skills {
    padding: 4em, 10em, 4em, 10em !important;
    h1 {
      margin: 0;
      padding: 0;
      padding-bottom: 2em;
    }
  }
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .portfolio-left {
    width: unset;
    display: grid;
    place-content: center;
  }

  .portfolio-img {
    margin-top: 4em;
    margin-left: 4em;
  }

  .portfolio {
    overflow: hidden;
    background-color: #f7f7f7;
    padding: 4em 10em 4em 10em;
  }

  .cta {
    background-color: #f7f7f7;
    margin: 0;
    p {
      font-size: 24px;
    }
  }

  .icon-container {
    height: px;
  }
}
