@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #fbecf4;
}

.nav-container a {
  color: black;
}

.nav-container header {
  padding: 1em;
}

.nav-container header .logo {
  color: #ee6a7a;
  font-weight: 700;
  font-size: 20px;
}

.nav-container header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-container header ul a {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
}

.social-header {
  display: none;
}

.social-header img {
  width: 55px;
  height: 55px;
}

.featured-links img {
  width: 24px;
}

.hero {
  text-align: center;
  background: #faf3f7;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
}

.hero h1 {
  color: #53424c;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero svg {
  width: 16px;
  margin-top: 50px;
}

.hero-design {
  display: none;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 260px;
}

.meet p {
  margin: 0;
  margin-left: 10px;
  text-align: left;
  color: #53424c;
  font-weight: 700;
}

.meet span {
  font-size: 26px;
}

.subtitle {
  color: #ee6a7a;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  margin-top: 50px;
}

.featured {
  margin: 0 auto;
  padding: 1em;
}

.featured .right {
  width: 270px;
  margin: 0 auto;
  display: block;
  border: 1px solid #00000099;
  border-radius: 1em;
}

.featured-title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.featured-desc {
  font-size: 16px;
  font-weight: 500;
  color: #000000b2;
  margin-bottom: 50px;
}

.featured-img {
  position: relative;
  margin-top: 60px;
}

.featured-img .decoration {
  position: absolute;
  top: -10px;
  z-index: -1;
}

.feacctured-links {
  text-decoration: underline;
}

.skills {
  background: #ee6a7a;
  padding: 5px;
}

.skills h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  margin: 2em;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container ul li .icon-container.one {
  width: 125px;
}

.skills-container ul li .icon-container.two {
  width: 68px;
}

.skills-container ul li .icon-container.three {
  width: 68px;
}

.skills-desc {
  margin: 0;
}

.skills-title {
  font-size: 20px;
  font-weight: 500;
}

.portfolio {
  padding: 1em;
}

.portfolio-img {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  margin-top: 30px;
}

.cta {
  text-align: center;
  margin: 50px auto;
}

.cta a {
  color: #ee6a7a;
  font-weight: 700;
}

footer {
  background: #fbecf4;
  display: none;
}

@media only screen and (min-width: 800px) {
  .nav-container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container header li a {
    margin: 0;
    margin-right: 50px;
  }
  .social-header {
    display: none;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 12em;
    float: right;
  }
  .social-header img {
    width: 35px;
    height: 35px;
  }
  .featured {
    padding: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .featured .right {
    width: 200px;
  }
  .left {
    width: 500px;
  }
  .decoration {
    left: 20px;
  }
  .portfolio {
    padding: 2em;
  }
  footer {
    display: block;
    height: 200px;
    position: relative;
  }
  .footer-img {
    display: none;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #faf3f7;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 80px;
    font-weight: 700;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #fbecf4;
  }
  header {
    padding: 2em 2em 2em 300px !important;
  }
  .social-header {
    padding: 2em 300px 2em 0;
    display: block;
  }
  section {
    padding: 4em;
  }
  section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
}
/*# sourceMappingURL=main.css.map */