@keyframes bounce {
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: #212121;
  font-family: "Sora", sans-serif;
}

.heading-primary {
  color: white;
  font-family: "Amiri", serif;
  font-size: 9rem;
  font-weight: 400;
  line-height: 8rem;
  letter-spacing: 2px;
}
@media (max-width: 75em) {
  .heading-primary {
    font-size: 8rem;
  }
}
@media (max-width: 56.25em) {
  .heading-primary {
    font-size: 7rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary {
    font-size: 6rem;
    width: 100%;
  }
}

.para-primary {
  color: #999999;
  font-size: 2rem;
  line-height: 2.6rem;
}
.para-primary--accent {
  color: #0045f8;
}

.secondary-heading {
  font-family: "Amiri", serif;
  font-weight: 400;
  color: white;
  font-size: 6rem;
  line-height: 8rem;
  letter-spacing: 2%;
  text-align: center;
}

.tertiary-heading {
  color: white;
  font-size: 3.4rem;
  font-family: "Amiri", serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

.work {
  padding-top: 12rem;
  display: flex;
}
@media (max-width: 75em) {
  .work {
    gap: 4rem;
  }
}
@media (max-width: 56.25em) {
  .work {
    display: block;
  }
}
.work__tag {
  color: white;
  background-color: #0045f8;
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.work__tag:not(:last-child) {
  margin-right: 3rem;
}
.work__text {
  margin-top: 7rem;
  color: #999999;
  font-size: 2rem;
  max-width: 58rem;
}
@media (max-width: 56.25em) {
  .work__text {
    max-width: 100%;
  }
}
.work__info {
  width: 60%;
}
@media (max-width: 56.25em) {
  .work__info {
    width: 100%;
    text-align: center;
  }
}
.work__image {
  width: 40%;
  text-align: right;
}
@media (max-width: 56.25em) {
  .work__image {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
  }
}
.work__image img {
  display: inline;
}
.work__link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  margin-top: 8rem;
}
@media (max-width: 56.25em) {
  .work__link {
    margin-bottom: 5rem;
  }
}
.work__link span {
  border-bottom: 2px solid #0045f8;
  transition: all 0.3s;
}
.work__link--blue {
  color: #0045f8;
  font-size: 1.6rem;
  text-decoration: none;
}
.work__link span:hover {
  padding-bottom: 0.4rem;
  border-bottom: 3px solid #0045f8;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.3rem;
  transition: all 0.4s;
}
@media (max-width: 56.25em) {
  .card {
    margin-bottom: 4rem;
    width: 60%;
    margin-inline: auto;
  }
}
@media (max-width: 37.5em) {
  .card {
    width: 80%;
  }
}
.card__content {
  display: flex;
  align-items: flex-end;
}
.card__icon {
  margin-right: 2rem;
}
@media (max-width: 75em) {
  .card__icon {
    margin-right: 1rem;
  }
}
.card__heading {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
}
@media (max-width: 75em) {
  .card__heading {
    font-size: 2rem;
  }
}
.card__text {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #707070;
  margin-top: 2rem;
}
.card:hover {
  transform: translateY(-1rem);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 8rem;
}
@media (max-width: 75em) {
  .cards {
    grid-gap: 1rem;
  }
}
@media (max-width: 56.25em) {
  .cards {
    display: block;
  }
}

.container {
  padding-inline: 12em;
  margin-inline: auto;
}
@media (max-width: 75em) {
  .container {
    padding-inline: 6em;
  }
}
@media (max-width: 56.25em) {
  .container {
    padding-inline: 6em;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.8rem;
}
@media (max-width: 56.25em) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }
}
.navigation__items {
  display: flex;
  font-size: 1.4rem;
  gap: 8rem;
  list-style: none;
  color: white;
  margin: 0;
}
@media (max-width: 56.25em) {
  .navigation__items {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 5rem;
    padding: 0;
  }
}
.navigation__item a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
@media (max-width: 56.25em) {
  .navigation__item a {
    width: 100%;
    font-size: 1.8rem;
  }
}
@media (max-width: 56.25em) {
  .navigation__item {
    text-align: center;
  }
}
.navigation__item a:hover {
  border-bottom: 1px solid #0045f8;
}
.navigation__button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  background-color: #0045f8;
  padding: 0.6em 2em;
  border-radius: 0.3rem;
  transition: all 0.5s;
}
@media (max-width: 56.25em) {
  .navigation__button {
    display: none;
    margin-inline: auto;
    margin-top: 4rem;
    font-size: 1.8rem;
  }
}
.navigation__button:hover {
  background-color: rgba(0, 69, 248, 0.8);
  transform: scale(1.03);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
@media (max-width: 56.25em) {
  .toggle-button {
    display: flex;
  }
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
}

.active {
  display: flex;
}

.header {
  padding-top: 8rem;
}
.header__main {
  width: 100rem;
  position: relative;
}
@media (max-width: 56.25em) {
  .header__main {
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  .header__main {
    text-align: center;
  }
}
.header__main-decoration {
  position: absolute;
  bottom: 1rem;
  z-index: -1;
  left: 5rem;
  height: 1.5rem;
  width: 50rem;
  background-image: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.2) 30%, #0045f8);
  border-radius: 3px;
}
@media (max-width: 37.5em) {
  .header__main-decoration {
    width: 34rem;
  }
}
.header__sub {
  display: flex;
  width: 80rem;
  margin-left: auto;
  margin-right: 0;
  padding-top: 10rem;
}
@media (max-width: 56.25em) {
  .header__sub {
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  .header__sub {
    width: 100%;
  }
}
.header__sub--ball {
  margin-right: 4rem;
  animation: bounce 3s ease-in-out infinite;
}

.section-work {
  padding-top: 20rem;
}

.section-about {
  padding-top: 20rem;
}

.section-contact {
  padding-top: 20em;
  height: 90rem;
}

/*# sourceMappingURL=style.css.map */
