$color-black: #000;
$color-white: #fff;

$color-bg: #212121;
$color-primary: #0045f8;
$color-light-gray-1: #999999;
$color-light-gray-2: #707070;

$font-headings: 'Amiri', serif;
$font-para: 'Sora', sans-serif;

$fs-default: 1.6rem;
