.card {
  background-color: $color-white;
  padding: 3rem;
  border-radius: 0.3rem;
  transition: all .4s;

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__icon {
    margin-right: 2rem;
  }

  &__heading {
    font-family: $font-headings;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $color-light-gray-2;
    margin-top: 2rem;
  }

  &:hover {
    transform: translateY(-1rem);
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 8rem;
}
