.card {
  background-color: $color-white;
  padding: 2rem;
  border-radius: 0.3rem;
  transition: all 0.4s;

  @include respond(tab-port) {
    margin-bottom: 4rem;
    width: 60%;
    margin-inline: auto;
  }

  @include respond(phone) {
    width: 80%;
  }

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__icon {
    margin-right: 2rem;

    @include respond(tab-land) {
      margin-right: 1rem;
    }
  }

  &__heading {
    font-family: $font-headings;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;

    @include respond(tab-land) {
      font-size: 2rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $color-light-gray-2;
    margin-top: 2rem;
  }

  &:hover {
    transform: translateY(-1rem);
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 8rem;

  @include respond(tab-land) {
    grid-gap: 1rem;
  }

  @include respond(tab-port) {
    display: block;
  }
}
